.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    text-align: center;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  